/*------font-family: 'Akaya Telivigala', cursive; font-family: 'Roboto', sans-serif, 'Balsamiq Sans', cursive;---*/
body {
    background-color: #202020;
    margin: 0;
    padding: 0;
}


/*--------------------------------------------------menu*/
.bg-dark {
    background-color: #202020 !important;
    border-bottom: 1px #ffbe5b solid;
}

.navbar-brand {
    color: #ffbe5b !important;
    font-size: 210%;
}

.navbar-toggler{
    background-color: #ffbe5b;
}

.navbar-light .navbar-nav .active .nav-link {
    color: #ffbe5b;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffbe5b;
}

.nav-item {
    text-transform: uppercase;
}

.btn {
    color: #ffbe5b;
    border-color: #ffbe5b;
    text-transform: uppercase;
}

.form-control {
    background-color: #202020;
    border-color: #ffbe5b;
}

.form-control::placeholder {
    color: #ffbe5b;
}


/*--------------------------------------------------home*/
.homeheader {
    position: absolute;
    top: 75px;
    left: 240px;
    width: 737px;
    color: #fff;
    text-transform: uppercase;
}

.paragraph1 {
    color: #fff;
    position: absolute;
    top: 160px;   
    left: -275px;
    font-size: 200%;
    text-align: justify;
    white-space: nowrap;
}

.paragraph2 {
    color: #fff;
    position: absolute;
    top: 270px;
    left: -560px;
    font-size: 195%;
    text-align: justify;
    white-space: nowrap;
}   

.paragraph3 {
    color: #fff;
    position: absolute;
    top: 430px;
    left: -850px;
    font-size: 200%;
    text-align: justify;
    white-space: nowrap;
}

.paragraph4 { 
    color: #fff;
    position: absolute;
    top: 630px;   
    left: 5px;
    font-size: 200%;
    text-align: justify;
    white-space: nowrap;
}

.paragraph5 {
    color: #fff;
    position: absolute;
    top: 800px;
    left: -280px;
    font-size: 200%;
    text-align: justify;
    white-space: nowrap;     
}
/*-----------------------------------------------------------*/


/*--------------------------------------------------the big three*/

.thebigthreeheader {
    color: #fff;
    position: absolute;
    top: 75px;
    left: 60px;
    width: 150%;
    font-size:180%;
    text-transform: uppercase;
}

.zeusimage {
    position: absolute;
    top: 60px;
    left: 0;
    height: 380px;
    width: 200px;
    border: #ffbe5b 2px solid;
}

.paragraph6 {
    background-color: #ffbe5b;
    color: #202020;
    border:#fff 2px solid;
    padding: 10px;
    position: absolute;
    top: 145px;
    left: 265px;
    font-size: 140%;
    text-align: justify;     
}

.poseidonimage {
    position: absolute;
    top: 470px;
    left: 0;
    height: 380px;
    width: 200px;
    border: #ffbe5b 2px solid;
}

.paragraph7 {
    background-color: #ffbe5b;
    color: #202020;
    border:#fff 2px solid;
    padding: 10px;
    position: absolute;
    top: 570px;
    left: 265px;
    font-size: 140%;
    text-align: justify;
}

.hadesimage {
    position: absolute;
    top: 885px;
    left: -15px;
    height: 380px;
    width: 200px;
    border: #ffbe5b 2px solid;
}

.paragraph8 {
    background-color: #ffbe5b;
    color: #202020;
    border:#fff 2px solid;
    padding: 10px;
    position: absolute;
    top: 920px;
    left: 440px;
    font-size: 140%;
    text-align: justify; 
}
/*-----------------------------------------------------------*/


/*--------------------------------------------------lesser known gods*/

.lesserknowngodsheader {
    color: #fff;
    position: absolute;
    top: 75px;
    left: 280px;
    width: 110%;
    font-size: 200%;
    text-transform: uppercase;
}

.atlascard {
    position: absolute;
    top: 60px;
    left: 2px;
}

.atlascard-img-top {
    height: 420px;
    width: 160%;
    border: #ffbe5b 2px solid;
}

.atlascard-text {
    position: absolute;
    left: 2px;
    color: #ffbe5b;
    font-size: 150%;
    white-space: nowrap;
}

.herculescard {
    position: absolute;
    top: 60px;
    left: 130px;
}

.herculescard-img-top {
    height: 420px;
    width: 160%;
    border: #ffbe5b 2px solid;
}

.herculescard-text {
    color: #ffbe5b;
    font-size: 150%;
    white-space: nowrap;
}

.amphitritecard {
    position: absolute;
    top: 620px;
    left: 2px;
}

.amphitritecard-img-top {
    height: 420px;
    width: 160%;
    border: #ffbe5b 2px solid;
}

.amphitritecard-text {
    position: absolute;
    left: 2px;
    color: #ffbe5b;
    font-size: 150%;
    white-space: nowrap;
}

.asclepiuscard {
    position: absolute;
    top: 620px;
    left: 130px;
}

.asclepiuscard-img-top {
    height: 420px;
    width: 160%;
    border: #ffbe5b 2px solid;
}

.asclepiuscard-text {
    color: #ffbe5b;
    font-size: 150%;
    white-space: nowrap;
}

.pancard {
    position: absolute;
    top: 1130px;
    left: 2px;
}

.pancard-img-top {
    height: 420px;
    width: 160%;
    border: #ffbe5b 2px solid;
}

.pancard-text {
    position: absolute;
    left: 2px;
    color: #ffbe5b;
    font-size: 150%;
    white-space: nowrap;
}

.nikecard {
    position: absolute;
    top: 1130px;
    left: 685px;
}

.nikecard-img-top {
    height: 420px;
    width: 160%;
    border: #ffbe5b 2px solid;
}

.nikecard-text {
    color: #ffbe5b;
    font-size: 150%;
    white-space: nowrap;
}
/*-------------------------------------------------------------------*/


/*------------------------------------------------------------history*/
.history {
    color: #fff;
    position: absolute;
    top: 75px;
    left: 440px;
    font-size: 250%;
    text-transform: uppercase;
}




/*-----------------------------------------------------------*/


/*--------------------------------------------------contact us*/

.contactusheader {
    position: absolute;
    top: 75px;
    left: 440px;
    color: #fff;
    text-transform: uppercase;
}

#email, #password{
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    width: 350px;
}

.form-group {
    color: #fff;
    position: relative;
    top: 150px;
    left: 120px;
    text-transform: uppercase;
}

#username {
    background-color: #202020;
    border-color: #ffbe5b;
    width: 350px;
}

#login {
    position: relative;
    top: 155px;
    left: 180px;
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    text-transform: uppercase;
}

#reset {
    position: relative;
    top: 155px;
    left: 260px;
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    text-transform: uppercase;
}

.textareaheader {
    color: #fff;
    position: absolute;
    top: 180px;
    left: 820px;
    font-size: 130%;
    text-transform: capitalize;
}

.textarea {
    background-image: url(/assets/css/images/hermes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 290px;
    left: 860px;
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    text-transform: capitalize;
}

#send {
    position: relative;
    top: 560px;
    left: 100px;
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    text-transform: uppercase;
}

.hermesstaff {
    position: absolute;
    top: 500px;
    left: 250px;
    height: 350px;
    opacity: 0.50;
}
/*-----------------------------------------------------------*/


/*-----------------------------------------------------footer*/
#socialmedia {
    border-top: 1px #ffbe5b solid;
    text-transform: uppercase;
}

/*-----------------------------------------------------------*/


/*------------------------------------------------------hover*/
.btn:hover {
    background-color: #ffbe5b;
    color: #202022;
}

#login:hover {
    background-color: #ffbe5b;
    color: #202022;
}

#reset:hover {
    background-color: #ffbe5b;
    color: #202022;
}

#send:hover {
    background-color: #ffbe5b;
    color: #202022;
}



/*
.zeusimage:hover {    
    position: absolute;
    top: 140px;
    left: 242px;
    width: 150px;
    transform: scale(1.5);
    z-index: 1;
}

.poseidonimage:hover {
    position: absolute;
    left: 95px;
    transform: scale(3);
    z-index: 1;
}

.hadesimage:hover {
    position: absolute;
    top: 290px;
    left: 190px;
    transform: scale(3);
    z-index: 1;
}


.atlascard-img-top:hover {
    position: absolute;
    top: 50px;
    left: 82px;
    width: 160px;
    transform: scale(2.2);
    z-index: 1;
}

.herculescard-img-top:hover {
    position: absolute;
    top: 40px;
    right: 214px;
    width: 172px;
    transform: scale(2);
    z-index: 1;
}

.amphitritecard-img-top:hover {
    position: absolute;
    top: 34px;
    left: 80px;
    width: 172px;
    transform: scale(2);
    z-index: 1;
}

.asclepiuscard-img-top:hover {
    position: absolute;
    top: 34px;
    right: 212px;
    width: 172px;
    transform: scale(2);
    z-index: 1; 
}

.pancard-img-top:hover {
    position: absolute;
    top: 10px;
    left: 78px;
    width: 172px;
    transform: scale(2);
    z-index: 1;
}

.nikecard-img-top:hover {
    position: absolute;
    top: 10px;
    right: 216px;
    width: 172px;
    transform: scale(2);
    z-index: 1; 
}
/*-----------------------------------------------------------*/


/*----------------------------------------------media queries*/
@media (min-width: 576px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}
/*-----------------------------------------------------------*/