/*------font-family: 'Akaya Telivigala', cursive; font-family: 'Roboto', sans-serif, 'Balsamiq Sans', cursive;---*/
body {
    background-color: #202020;
    margin: 0;
    padding: 0;
}

.backgroundimage {
    position: absolute;
    width: 1350px;
    opacity: 0.5;
}

.topborder {
    position: fixed;
    top: 50px;
    width: 1350px;
    border-bottom: #ffbe5b 2px solid;
}

/*--------------------------------------------------menu*/
.bg-light {
    background-color: #202020 !important;
    height: 50px;
}

.navbar-brand {
    color: #ffbe5b !important;
    font-size: 210%;
}

h1 {
    position: relative;
    top: 2px;
}

.navbar-light .navbar-toggler {
    border-color: #fff;
}

.navbar-toggler{
    background-color: #ffbe5b;
}

.navbar-nav {
    position: fixed;
    left: 745px;
    top: 4px;
    font-size: 120%;
    text-transform: uppercase;
}

.nav-link {
    color: #ffbe5b !important;
    font-size: 92%;
}

/*--------------------------------------------------home*/
.homeheader {
    position: absolute;
    top: 55px;
    left: 300px;
    width: 1000px;
    color: #fff;
    text-transform: uppercase;
}

.paragraph1 /*home.html*/{
    color: #fff;
    position: absolute;
    top: 130px;   
    right: 700px;
    width: 1145px;
    font-size: 200%;
    text-align: justify;
}

.paragraph2 /*home.html*/{
    color: #fff;
    position: absolute;
    top: 250px;
    left: 150px;
    width: 1000px;
    font-size: 200%;
    text-align: justify;
}   

.paragraph3 /*home.html*/{
    color: #fff;
    position: absolute;
    top: 400px;
    left: 120px;
    width: 1000px;
    font-size: 200%;
    text-align: justify;
}

.paragraph4 /*home.html*/{ 
    color: #fff;
    position: absolute;
    top: 700px;   
    left: 90px;
    width: 1000px;
    font-size: 200%;
    text-align: justify;
}

.paragraph5 /*home.html*/{
    color: #fff;
    position: absolute;
    top: 900px;
    left: 75px;
    width: 1000px;
    font-size: 200%;
    text-align: justify; 
}
/*-----------------------------------------------------------*/


/*--------------------------------------------------the big three*/
.thebigthreeheader {
    color: #fff;
    position: absolute;
    top: 55px;
    left: 55px;
    width: 150%;
    font-size:180%;
    text-transform: uppercase;
}

.zeusimage {
    position: absolute;
    top: 95px;
    left: 30px;
    height: 380px;
    width: 200px;
    border: #ffbe5b 2px solid;
}

.poseidonimage {
    position: absolute;
    top: 505px;
    left: 30px;
    height: 380px;
    width: 200px;
    border: #ffbe5b 2px solid;
}

.hadesimage {
    position: absolute;
    top: 905px;
    left: 30px;
    height: 380px;
    width: 200px;
    border: #ffbe5b 2px solid;
}

.paragraph6 {
    color: #fff;
    position: absolute;
    top: 180px;
    left: 265px;
    font-size: 80%;
    text-align: justify;     
}

.paragraph7 {
    color: #fff;
    position: absolute;
    top: 610px;
    left: 265px;
    font-size: 80%;
    text-align: justify; 
}

.paragraph8 {
    color: #fff;
    position: absolute;
    top: 980px;
    left: 265px;
    font-size: 80%;
    text-align: justify; 
}
/*-----------------------------------------------------------*/


/*--------------------------------------------------lesser known gods*/
.lesserknowngodsheader {
    color: #fff;
    position: absolute;
    top: 55px;
    left: 280px;
    width: 150%;
    font-size:200%;
    text-transform: uppercase;
}

.atlascard {
    position: absolute;
    top: 115px;
    left: 70px;
}

.atlascard-img-top {
    height: 480px;
    width: 170%;
    border: #ffbe5b 3px solid;
}

.atlascard-text {
    color: #ffbe5b;
    font-size: 150%;
    white-space: nowrap;
}

.herculescard {
    position: absolute;
    top: 115px;
    left: 800px;
}

.herculescard-img-top {
    height: 480px;
    width: 170%;
    border: #ffbe5b 3px solid;
}

.herculescard-text {
    color: #ffbe5b;
    font-size: 150%;
    white-space: nowrap;
}

.amphitritecard {
    position: absolute;
    top: 730px;
    left: 65px;
}

.amphitritecard-img-top {
    height: 480px;
    width: 170%;    
    border: #ffbe5b 3px solid;
}

.amphitritecard-text {
    color: #ffbe5b;
    font-size: 150%;
    white-space: nowrap;
}

.asclepiuscard {
    position: absolute;
    top: 730px;
    left: 800px;
}

.asclepiuscard-img-top {
    height: 480px;
    width: 170%;
    border: #ffbe5b 3px solid;
}

.asclepiuscard-text {
    color: #ffbe5b;
    font-size: 150%;
    white-space: nowrap;
}

.pancard {
    position: absolute;
    top: 1300px;
    left: 65px;
}

.pancard-img-top {
    height: 480px;
    width: 170%;    
    border: #ffbe5b 3px solid;
}

.pancard-text {
    color: #ffbe5b;
    font-size: 150%;
    white-space: nowrap;
}

.nikecard {
    position: absolute;
    top: 1300px;
    left: 800px;
}

.nikecard-img-top {
    height: 480px;
    width: 170%;
    border: #ffbe5b 3px solid;
}

.nikecard-text {
    color: #ffbe5b;
    font-size: 150%;
    white-space: nowrap;
}
/*-------------------------------------------------------------------*/


/*--------------------------------------------------history*/






/*-----------------------------------------------------------*/


/*--------------------------------------------------contact us*/
.contactus {
    position: absolute;
    top: 55px;
    left: 350px;
    color: #fff;
    text-transform: uppercase;
}

#email, #password{
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    width: 350px;
}

.form-group {
    color: #fff;
    position: relative;
    top: 180px;
    left: 120px;
    text-transform: uppercase;
}

#username {
    background-color: #202020;
    border-color: #ffbe5b;
    width: 350px;
}

#login {
    position: relative;
    top: 185px;
    left: 190px;
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    text-transform: uppercase;
}

#reset {
    position: relative;
    top: 185px;
    left: 220px;
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    text-transform: uppercase;
}

.textareaheader {
    color: #fff;
    position: absolute;
    top: 180px;
    left: 810px;
    font-size: 130%;
}

.textarea {
    position: absolute;
    top: 290px;
    left: 850px;
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    text-transform: capitalize;
}

#send {
    position: relative;
    top: 580px;
    left: 1010px;
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    text-transform: uppercase;
}
/*-----------------------------------------------------------*/


/*-------------------------footer*/
.bottomborder {
    position: fixed;
    top: 581px;
    width: 1380px;
    border-top: #ffbe5b 1px solid;
}


#socialmedia {
    position: absolute;
    bottom: -7px;
    font-size: 113%;
    text-transform: uppercase;
}

#socialmedia1 {
    position: absolute;
    bottom: -1px;
    font-size: 45%;
    text-transform: uppercase;
}
/*-------------------------media queries*/

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}




/*----------------hover
#dropdownMenuButton:hover {
    border: #f9f871  2px solid;
    background-color: #ffbe5b;
    color: #202020;
    font-weight: bolder;
}

.dropdown-item:hover {
    background-color: #ffbe5b;
    color: #202020;
}

.zeusimage:hover {    
    position: absolute;
    top: 120px;
    left: 190px;
    transform: scale(3);
    z-index: 1;
}

.poseidonimage:hover {
    position: absolute;
    left: 95px;
    transform: scale(3);
    z-index: 1;
}

.hadesimage:hover {
    position: absolute;
    top: 290px;
    left: 190px;
    transform: scale(3);
    z-index: 1;
}

.atlascard-img-top:hover {
    position: absolute;
    top: 50px;
    left: 82px;
    width: 160px;
    transform: scale(2.2);
    z-index: 1;
}

.herculescard-img-top:hover {
    position: absolute;
    top: 40px;
    right: 214px;
    width: 172px;
    transform: scale(2);
    z-index: 1;
}

.amphitritecard-img-top:hover {
    position: absolute;
    top: 34px;
    left: 80px;
    width: 172px;
    transform: scale(2);
    z-index: 1;
}

.asclepiuscard-img-top:hover {
    position: absolute;
    top: 34px;
    right: 212px;
    width: 172px;
    transform: scale(2);
    z-index: 1; 
}

.pancard-img-top:hover {
    position: absolute;
    top: 10px;
    left: 78px;
    width: 172px;
    transform: scale(2);
    z-index: 1;
}

.nikecard-img-top:hover {
    position: absolute;
    top: 10px;
    right: 216px;
    width: 172px;
    transform: scale(2);
    z-index: 1; 
}
 

