/*------font-family: 'Akaya Telivigala', cursive; font-family: 'Roboto', sans-serif, 'Balsamiq Sans', cursive;---*/

html, body {
    margin: 0;
    padding: 0;
}

/*--------------------------------------------body*/
body {
    background-color: #202020;
}

/*--------------------------------------------background images*/
.backgroundimage {
    position: relative;
    bottom: 30px;
    height: 840px;
    width: 360px;
    opacity: 0.5;
}

/*--------------------------------------------borders*/
.topborder {
    position: relative;
    top: 25px;
    width: 414px;
    border-bottom: #ffbe5b 2px solid;
}

.btn {
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    position: relative;
    margin-bottom: 20px;
    height: 35px;   
    left: 280px;
    bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

/*--------------------------------------------dropdown menu*/
#dropdownMenuButton {
    background-color: #202020;
    color:#ffbe5b;
    border-color: #ffbe5b;
}

#dropdown-menu{
    padding: 0;
    border: #ffbe5b 3px solid;
}

.dropdown-item {
    background-color: #202020;
    color: #ffbe5b;
    text-transform: uppercase;
    height: 50px;
    font-size: large;
    font-weight: bold;
}

/*--------------------------------------------headings*/

.header {
    background-color: #202020;
    color: #ffbe5b;
    font-size: xx-large;
    font-weight: 700;
    height: 30px;
    padding-left: 15px;
    padding-bottom: 25px;
    text-align: left;
    text-transform: uppercase;
}

.pageheader {
    color: #fff;
    position: absolute;
    top: 60px;
    left: 45px;
    text-align: center;
    font-size: x-large;
    font-weight: 400;
    text-transform: uppercase;
}

.history {
    position: absolute;
    top: 60px;
    left: 100px;
    text-align: center;
    font-size: xx-large;
    font-weight: 400;
}

/*--------------------------------------------paragraph*/

.paragraph1 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 130px;   
    left: 20px;
    font-size: large;
    text-align: justify;
}

.paragraph2 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 220px;
    left: 20px;
    font-size: large;
    text-align: justify;
}   

.paragraph3 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 370px;   
    left: 20px;
    font-size: large;
    text-align: justify;
}

.paragraph4 /*index.html*/{ 
    color: #fff;
    position: absolute;
    top: 570px;   
    left: 20px;
    font-size: large;
    text-align: justify;
}

.paragraph5 /*index1.html*/{
    color: #ffbe5b;
    position: absolute;
    top: 60px;
    left: 15px;
    font-size: large;
    text-transform: capitalize;
    text-align: justify; 
        
}

.paragraph6 /*index1.html*/{
    color: #ffbe5b;
    position: absolute;
    top: 140px;
    left: 20px;
    font-size: medium;
    text-align: justify;
    font-weight: bold; 
}

.paragraph7 /*index1.html*/{
    color: #ffbe5b;
    position: absolute;
    top: 330px;
    left: 135px;
    font-size: medium;
    text-align: justify; 
    font-weight: bold;
}

.paragraph8 /*index1.html*/{
    color: #ffbe5b;
    position: absolute;
    top: 520px;
    left: 10px;
    font-size: medium;
    text-align: justify; 
    font-weight: bold;
}

.paragraph9 /*index2.html*/{
    color: #ffbe5b;
    position: absolute;
    top: 52px;
    left: 10px;
    font-size: medium;
    text-align: justify; 
    text-transform: capitalize;
}

/*--------------------------------------------images for big three*/

.goddescription {
    position: relative;
    top: 0;
    left: 0;
}

.zeusimage {
    position: absolute;
    bottom: 525px;
    left: 265px;
    height: 150px;
    width: 85px;
    border: #ffbe5b 3px solid;
}

.poseidonimage {
    position: absolute;
    bottom: 335px;
    left: 15px;
    height: 190px;
    width: 95px;
    border: #ffbe5b 3px solid;
}

.hadesimage {
    position: absolute;
    bottom: 133px;
    left: 265px;
    height: 180px;
    width: 85px;
    border: #ffbe5b 3px solid;
}

/*--------------------------------------------image cards*/

.atlascard {
    position: absolute;
    top: 85px;
    left: 20px;
}

.atlascard-img-top {
    height: 135px;
    width: 155px;
    border: #ffbe5b 3px solid;
}

.atlascard-text {
    color: #ffbe5b;
}

.herculescard {
    position: absolute;
    top: 85px;
    left: 195px;
}

.herculescard-img-top {
    height: 135px;
    width: 155px;
    border: #ffbe5b 3px solid;
}

.herculescard-text {
    color: #ffbe5b;
    position: relative;
    right: 6px;
}

.amphitritecard {
    position: absolute;
    top: 302px;
    left: 20px;
}

.amphitritecard-img-top {
    height: 135px;
    width: 155px;
    border: #ffbe5b 3px solid;
}

.amphitritecard-text {
    color: #ffbe5b;
    position: relative;
    right: 6px;
}

.asclepiuscard {
    position: absolute;
    top: 302px;
    left: 195px;
}

.asclepiuscard-img-top {
    height: 135px;
    width: 155px;
    border: #ffbe5b 3px solid;
}

.asclepiuscard-text {
    color: #ffbe5b;
    position: relative;
    right: 6px;
}

.pancard {
    position: absolute;
    top: 520px;
    left: 20px;
}

.pancard-img-top {
    height: 135px;
    width: 155px;
    border: #ffbe5b 3px solid;
}

.pancard-text {
    color: #ffbe5b;
    position: relative;
    right: 6px;
}

.nikecard {
    position: absolute;
    top: 520px;
    left: 195px;
}

.nikecard-img-top {
    height: 135px;
    width: 155px;
    border: #ffbe5b 3px solid;
}

.nikecard-text {
    color: #ffbe5b;
    position: relative;
    right: 6px;
}

/*-------------------------------------------signup*/
input, textarea {
    background-color: #202020;
    color: #ffbe5b;
}

fieldset.yourdetails {
    position: absolute;
    left: 15px;
    top: 55px;
    height: 350px;
    width: 330px;
    text-align: center;
    border: #fff 2px dashed;
}

.yourdetails {
    color: #ffbe5b;
    position: relative;
    bottom: 770px;
    left: 50px;

    font-size: large;
    text-transform: uppercase;    
}

#yourdetailsheader {
    color: #fff;
}

legend.yourdetails-border {
    width: auto;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
}

.username {
    position: absolute;
    top: 0;
    left: 110px;
    font-weight: 600;
    font-size: large;
}

.usernamebox {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 80%;
    background-color: #202020;
    border: 2px solid #ffbe5b;
}

 .email {
    position: absolute;
    top: 90px;
    left: 100px;
    font-weight: 600;
    font-size: large;
}

.emailbox {
    position: absolute;
    top: 125px;
    left: 35px;
    width: 80%;
    background-color: #202020;
    border:#ffbe5b 2px solid;
} 

.password {
    position: absolute;
    top: 175px;
    left: 110px;
    font-weight: 600;
    font-size: large;
}

.passwordbox {
    position: absolute;
    top: 205px;
    left: 35px;
    width: 80%;
    background-color: #202020;
    border: #ffbe5b 2px solid;
}

.signupbutton {
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;

    position: absolute;
    margin-bottom: 20px;
    height: 40px;   
    top: 250px;
    left: 60px;
    border-radius: 10%;
    font-size: large;
    text-align: center;
    text-transform: uppercase;
}

.resetbutton {
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;

    position: absolute;
    margin-bottom: 20px;
    height: 40px;   
    top: 250px;
    left: 200px;
    width: 75px;
    border-radius: 10%;
    font-size: large;
    text-align: center;
    text-transform: uppercase;
}

/*-------------------------------------------feedback*/

.feedbackheader {
    color: #fff;
    width: auto;
    text-align: left;
    font-weight: 600;
    font-weight: bold;
    font-size: x-large;
    text-transform: uppercase;
}

.feedbackborder {
    position: absolute;
    left: 15px;
    top: 420px;
    height: 30%;
    width: 330px;
    text-align: center;
    border: 2px dashed #fff;
}

.textareabox {
    position: relative;
    top: -2px;
    height: 180px;
    width: 300px;
    border: #ffbe5b 2px solid;
}

.sendbutton {
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;

    position: absolute;
    margin-bottom: 20px;
    height: 40px;   
    top: 192px;
    left: 140px;
    border-radius: 10%;
    font-size: large;
    text-align: center;
    text-transform: uppercase;
}

/*--------------------------------------------hover*/

#dropdownMenuButton:hover {
    border: #006f61 2px solid;
    background-color: #ffbe5b;
    color: #202020;
    font-weight: bolder;
}

.dropdown-item:hover {
    background-color: #ffbe5b;
    color: #202020;
}

.zeusimage:hover {    
    position: absolute;
    top: 120px;
    left: 190px;
    transform: scale(3);
    z-index: 1;
}

.poseidonimage:hover {
    position: absolute;
    left: 95px;
    transform: scale(3);
    z-index: 1;
}

.hadesimage:hover {
    position: absolute;
    top: 290px;
    left: 190px;
    transform: scale(3);
    z-index: 1;
}

.atlascard-img-top:hover {
    position: absolute;
    top: 50px;
    left: 82px;
    width: 160px;
    transform: scale(2.2);
    z-index: 1;
}

.herculescard-img-top:hover {
    position: absolute;
    top: 40px;
    right: 214px;
    width: 172px;
    transform: scale(2);
    z-index: 1;
}

.amphitritecard-img-top:hover {
    position: absolute;
    top: 34px;
    left: 80px;
    width: 172px;
    transform: scale(2);
    z-index: 1;
}

.asclepiuscard-img-top:hover {
    position: absolute;
    top: 34px;
    right: 212px;
    width: 172px;
    transform: scale(2);
    z-index: 1; 
}

.pancard-img-top:hover {
    position: absolute;
    top: 10px;
    left: 78px;
    width: 172px;
    transform: scale(2);
    z-index: 1;
}

.nikecard-img-top:hover {
    position: absolute;
    top: 10px;
    right: 216px;
    width: 172px;
    transform: scale(2);
    z-index: 1; 
}

.signupbutton:hover {
    background-color: #ffbe5b;
    color: #202020;
}

.resetbutton:hover {
    background-color: #ffbe5b;
    color: #202020;
}

.sendbutton:hover {
    background-color: #ffbe5b;
    color: #202020;
} 
/*-------------------------------------------footer*/

.footer {
    background-color: #202020;
    color: #ffbe5b;
    position: absolute;
    top: 735px;
    height: 50px;
    width: 100%;
    padding-left: 8px;
    font-size: xx-large;
    text-align: left;
 }

#footerborder {
    border: #ffbe5b 2px solid;
    border-width: 2px;
    box-sizing: border-box;
    height: 60px;
    width: 360px;
    padding-bottom: 10px;
} 

#facebook {
    color: #ffbe5b;
    position: relative;
    top: 5px;
    left: 5px;
    bottom: 1px;
    font-size: xxx-large; 
}

#instagram {
    color: #ffbe5b;
    position: absolute;
    top: 5px;
    left: 85px;
    font-size: xxx-large;
}

#youtube {
    color: #ffbe5b;
    position: absolute;
    top: 5px;
    left: 160px;
    font-size: xxx-large;
}

#linkedin {
    color: #ffbe5b;
    position: absolute;
    top: 5px;
    left: 235px;
    font-size: xxx-large;
}

#twitter {
    color: #ffbe5b;
    position: absolute;
    top: 5px;
    left: 305px;
    font-size: xxx-large;
}

/*-------------------------------------------------------------------------media queries*/

@media (min-width: 320px) {

/*--------------------------------------------background image on index.html*/
.backgroundimage {
    position: relative;
    bottom: 30px;
    height: 780px;
    width: 360px;
    opacity: 0.5;
}

/*--------------------------------------------dropdown menu*/    
.btn {
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    position: relative;
    height: 30px;
    width: 65px;
    left: 245px;
    bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.menuword {
    position: absolute;
    top: 3px;
    right: 9px;
}

.dropdown-item {
    background-color: #202020;
    color: #ffbe5b;
    text-transform: uppercase;
    height: 50px;
    font-size: 100%;
    font-weight: bold;
}

/*--------------------------------------------button menu*/ 

.buttonmenu {
    display: none;
}

/*--------------------------------------------borders*/
.topborder {
    position: relative;
    top: 25px;
    width: 320px;
    border-bottom: #ffbe5b 2px solid;
}

/*--------------------------------------------headings*/
.header /*index.html*/{
    background-color: #202020;
    color: #ffbe5b;
    font-size: x-large;
    font-weight: 700;
    height: 30px;
    padding-left: 15px;
    padding-bottom: 25px;
    text-align: left;
    text-transform: uppercase;
}

.h1 {
    position: absolute;
    top: 5px;
    font-size: 145%;
}

.pageheader /*index.html*/{
    color: #fff;
    position: absolute;
    top: 60px;
    left: 25px;
    text-align: center;
    font-size: 150%;
    font-weight: 400;
    text-transform: uppercase;
}    

/*--------------------------------------------paragraphs*/    
.paragraph1 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 140px;   
    left: 12px;
    font-size: 16px;
    text-align: justify;
}

.paragraph2 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 235px;
    left: 8px;
    font-size: 108%;
    text-align: justify;
}   

.paragraph3 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 390px;   
    left: 6px;
    font-size: 105%;
    text-align: justify;
}

.paragraph4 /*index.html*/{ 
    color: #fff;
    position: absolute;
    top: 580px;   
    left: 10px;
    font-size: 110%;
    text-align: justify;
}

#dropdownMenuButton:hover {
    border: #ffbe5b 2px solid;
    background-color: #ffbe5b;
    color: #202020;
    font-weight: bolder;
}

.dropdown-item:hover {
    background-color: #ffbe5b;
    color: #202020;
}

/*-------------------------------------------footer and footer border*/
.footer {
    background-color: #202020;
    color: #ffbe5b;
    position: absolute;
    top: 780px;
    height: 50px;
    width: 100%;
    padding-left: 8px;
    font-size: xx-large;
    text-align: left;
 }

#footerborder {
    border: #ffbe5b 1px solid;
    border-width: 2px;
    box-sizing: border-box;
    height: 60px;
    width: 320px;
    padding-bottom: 10px;
} 

/*-------------------------------------------social media links*/

/*-------------------------------------------facebook*/
.facebookword {
    visibility: hidden;
}

#facebook {
    color: #ffbe5b;
    position: absolute;
    top: 9px;
    left: 6px;
    font-size: 130%; 
}

/*-------------------------------------------instagram*/
.instagramword {
    visibility: hidden;
}

#instagram {
    color: #ffbe5b;
    position: absolute;
    top: 8px;
    left: 60px;
    font-size: 130%;
}

/*-------------------------------------------youtube*/
.youtubeword {
    visibility: hidden;
}

#youtube {
    color: #ffbe5b;
    position: absolute;
    top: 8px;
    left: 115px;
    font-size: 130%;
}

/*-------------------------------------------linkedin*/
.linkedinword {
    visibility: hidden;
}

#linkedin {
    color: #ffbe5b;
    position: absolute;
    top: 8px;
    left: 170px;
    font-size: 130%;
}

/*-------------------------------------------twitter*/
.twitterword {
    visibility: hidden;
}

#twitter {
    color: #ffbe5b;
    position: absolute;
    top: 8px;
    left: 225px;
    font-size: 130%;
}

/*-------------------------------------------copyright*/
.copyrightword {
    visibility: hidden;
}

#copyright {
    color: #ffbe5b;
    position: absolute;
    top: 8px;
    left: 275px;
    font-size: 130%;
}

}

/*-------------------------------------------------media query min-width 360px*/
@media (min-width: 360px) {

 /*--------------------------------------------background image on index.html*/
.backgroundimage {
    position: relative;
    bottom: 30px;
    height: 840px;
    width: 360px;
    opacity: 0.5;
}

    /*--------------------------------------------dropdown menu*/    
.btn {
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    position: relative;
    height: 30px;
    width: 65px;
    left: 20px;
    bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.menuword {
    position: absolute;
    top: 3px;
    right: 9px;
}

.dropdown-item {
    background-color: #202020;
    color: #ffbe5b;
    text-transform: uppercase;
    height: 50px;
    font-size: 100%;
    font-weight: bold;
}

/*--------------------------------------------heading*/
.topborder {
    position: relative;
    top: 25px;
    width: 360px;
    border-bottom: #ffbe5b 2px solid;
}

.header /*index.html*/{
    background-color: #202020;
    color: #ffbe5b;
    font-size: x-large;
    font-weight: 700;
    height: 30px;
    padding-left: 15px;
    padding-bottom: 25px;
    text-align: left;
    text-transform: uppercase;
}

.h1 {
    position: absolute;
    top: 5px;
    font-size: 145%;
}

.pageheader /*index.html*/{
    color: #fff;
    position: absolute;
    top: 60px;
    left: 25px;
    text-align: center;
    font-size: 170%;
    font-weight: 400;
    text-transform: uppercase;
}    


/*--------------------------------------------paragraphs*/    
.paragraph1 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 145px;   
    left: 12px;
    font-size: 115%;
    text-align: justify;
}

.paragraph2 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 245px;
    left: 10px;
    font-size: 115%;
    text-align: justify;
}   

.paragraph3 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 400px;   
    left: 8px;
    font-size: 115%;
    text-align: justify;
}

.paragraph4 /*index.html*/{ 
    color: #fff;
    position: absolute;
    top: 620px;   
    left: 10px;
    font-size: 120%;
    text-align: justify;
}


/*-------------------------------------------footer and footer border*/
.footer {
    background-color: #202020;
    color: #ffbe5b;
    position: absolute;
    top: 790px;
    height: 50px;
    width: 100%;
    padding-left: 8px;
    font-size: xx-large;
    text-align: left;
 }

#footerborder {
    border: #ffbe5b 1px solid;
    border-width: 2px;
    box-sizing: border-box;
    height: 50px;
    width: 360px;
    padding-bottom: 10px;
} 

/*-------------------------------------------social media links*/

/*-------------------------------------------facebook*/
.facebookword {
    visibility: hidden;
}

#facebook {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 6px;
    font-size: 135%; 
}

/*-------------------------------------------instagram*/
.instagramword {
    visibility: hidden;
}

#instagram {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 70px;
    font-size: 135%;
}

/*-------------------------------------------youtube*/
.youtubeword {
    visibility: hidden;
}

#youtube {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 130px;
    font-size: 135%;
}

/*-------------------------------------------linkedin*/
.linkedinword {
    visibility: hidden;
}

#linkedin {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 190px;
    font-size: 135%;
}

/*-------------------------------------------twitter*/
.twitterword {
    visibility: hidden;
}

#twitter {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 250px;
    font-size: 135%;
}

/*-------------------------------------------copyright*/
.copyrightword {
    visibility: hidden;
}

#copyright {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 310px;
    font-size: 135%;
}

}

/*-------------------------------------------------media query min-width 414px*/
@media (min-width: 414px) {
 
    /*--------------------------------------------background image on index.html*/
.backgroundimage {
    position: relative;
    bottom: 30px;
    height: 840px;
    width: 414px;
    opacity: 0.5;
}

    /*--------------------------------------------dropdown menu*/    
.btn {
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    position: relative;
    height: 30px;
    width: 65px;
    left: 335px;
    bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.menuword {
    position: absolute;
    top: 3px;
    right: 9px;
}

.dropdown-item {
    background-color: #202020;
    color: #ffbe5b;
    text-transform: uppercase;
    height: 50px;
    font-size: 100%;
    font-weight: bold;
}

/*--------------------------------------------headings*/
.topborder {
    position: relative;
    top: 24px;
    width: 414px;
    border-bottom: #ffbe5b 2px solid;
}

.header /*index.html*/{
    background-color: #202020;
    color: #ffbe5b;
    font-size: x-large;
    font-weight: 700;
    height: 30px;
    padding-left: 15px;
    padding-bottom: 25px;
    text-align: left;
    text-transform: uppercase;
}

.h1 {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 145%;
}

.pageheader /*index.html*/{
    color: #fff;
    position: absolute;
    top: 60px;
    left: 50px;
    text-align: center;
    font-size: 170%;
    font-weight: 400;
    text-transform: uppercase;
}    

/*--------------------------------------------paragraphs*/    
.paragraph1 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 135px;   
    left: 30px;
    font-size: 125%;
    text-align: justify;
}

.paragraph2 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 235px;
    left: 30px;
    font-size: 125%;
    text-align: justify;
}   

.paragraph3 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 400px;   
    left: 30px;
    font-size: 125%;
    text-align: justify;
}

.paragraph4 /*index.html*/{ 
    color: #fff;
    position: absolute;
    top: 610px;   
    left: 30px;
    font-size: 135%;
    text-align: justify;
}


/*-------------------------------------------footer and footer border*/
.footer {
    background-color: #202020;
    color: #ffbe5b;
    position: absolute;
    top: 790px;
    height: 50px;
    width: 100%;
    padding-left: 8px;
    font-size: xx-large;
    text-align: left;
 }

#footerborder {
    border: #ffbe5b 1px solid;
    border-width: 2px;
    box-sizing: border-box;
    height: 50px;
    width: 414px;
    padding-bottom: 10px;
} 

/*-------------------------------------------social media links*/

/*-------------------------------------------facebook*/
.facebookword {
    visibility: hidden;
}

#facebook {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 11px;
    font-size: 135%; 
}

/*-------------------------------------------instagram*/
.instagramword {
    visibility: hidden;
}

#instagram {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 80px;
    font-size: 135%;
}

/*-------------------------------------------youtube*/
.youtubeword {
    visibility: hidden;
}

#youtube {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 158px;
    font-size: 135%;
}

/*-------------------------------------------linkedin*/
.linkedinword {
    visibility: hidden;
}

#linkedin {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 230px;
    font-size: 135%;
}

/*-------------------------------------------twitter*/
.twitterword {
    visibility: hidden;
}

#twitter {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 300px;
    font-size: 135%;
}

/*-------------------------------------------copyright*/
.copyrightword {
    visibility: hidden;
}

#copyright {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 365px;
    font-size: 135%;
}

}

/*-------------------------------------------------media query min-width 576px*/
@media (min-width: 576px) {
    
/*--------------------------------------------background image on index.html*/
.backgroundimage {
    position: relative;
    bottom: 30px;
    height: 840px;
    width: 576px;
    opacity: 0.5;
}

    /*--------------------------------------------dropdown menu*/    
.btn {
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    position: relative;
    height: 30px;
    width: 65px;
    left: 500px;
    bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.menuword {
    position: absolute;
    top: 3px;
    right: 9px;
}

.dropdown-item {
    background-color: #202020;
    color: #ffbe5b;
    text-transform: uppercase;
    height: 50px;
    font-size: 100%;
    font-weight: bold;
}

/*--------------------------------------------headings*/
.topborder {
    position: relative;
    top: 25px;
    width: 576px;
    border-bottom: #ffbe5b 2px solid;
}

.header /*index.html*/{
    background-color: #202020;
    color: #ffbe5b;
    font-size: x-large;
    font-weight: 700;
    height: 30px;
    padding-left: 15px;
    padding-bottom: 25px;
    text-align: left;
    text-transform: uppercase;
}

.h1 {
    position: absolute;
    top: 5px;
    left: 35px;
    font-size: 145%;
}

.pageheader /*index.html*/{
    color: #fff;
    position: absolute;
    top: 60px;
    left: 65px;
    text-align: center;
    font-size: 160%;
    font-weight: 400;
    text-transform: uppercase;
}    

.pageheader br {
    display: none;
}

/*--------------------------------------------paragraphs*/    
.paragraph1 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 105px;   
    left: 80px;
    font-size: 145%;
    text-align: center;
}

.paragraph2 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 200px;
    left: 80px;
    font-size: 145%;
    text-align: center;
}   

.paragraph3 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 365px;   
    left: 80px;
    font-size: 145%;
    text-align: center;
}

.paragraph4 /*index.html*/{ 
    color: #fff;
    position: absolute;
    top: 598px;   
    left: 80px;
    font-size: 145%;
    text-align: center;
}

/*-------------------------------------------footer and footer border*/
.footer {
    background-color: #202020;
    color: #ffbe5b;
    position: absolute;
    top: 790px;
    height: 50px;
    width: 100%;
    padding-left: 8px;
    font-size: xx-large;
    text-align: left;
}

#footerborder {
    border: #ffbe5b 1px solid;
    border-width: 2px;
    box-sizing: border-box;
    height: 50px;
    width: 576px;
} 

/*-------------------------------------------social media links*/

/*-------------------------------------------facebook*/
.facebookword {
    color: #ffbe5b;
    position: absolute;
    top: 8px;
    left: 5px;
    font-size: 70%;
    text-transform: uppercase;
    visibility: visible;
}

#facebook {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 11px;
    font-size: 135%; 
}

#facebook {
    visibility: hidden;
}

/*-------------------------------------------instagram*/
.instagramword {
    color: #ffbe5b;
    position: absolute;
    top: 8px;
    left: 125px;
    font-size: 70%;
    text-transform: uppercase;
    visibility: visible;
}

#instagram {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 80px;
    font-size: 135%;
}

#instagram {
    visibility: hidden;
}

/*-------------------------------------------youtube*/
.youtubeword {
    color: #ffbe5b;
    position: absolute;
    top: 8px;
    left: 260px;
    font-size: 70%;
    text-transform: uppercase;
    visibility: visible; 
}

#youtube {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 158px;
    font-size: 135%;
}

#youtube {
    visibility: hidden;
}

/*-------------------------------------------linkedin*/
.linkedinword {
    color: #ffbe5b;
    position: absolute;
    top: 8px;
    left: 370px;
    font-size: 70%;
    text-transform: uppercase;
    visibility: visible;
}

#linkedin {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 230px;
    font-size: 135%;
}

#linkedin {
    visibility: hidden;
}

/*-------------------------------------------twitter*/
.twitterword {
    color: #ffbe5b;
    position: absolute;
    top: 8px;
    left: 478px;
    font-size: 70%;
    text-transform: uppercase;
    visibility: visible;
}

#twitter {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 300px;
    font-size: 135%;
}

#twitter {
    visibility: hidden;
}

/*-------------------------------------------copyright*/
.copyrightword {
    visibility: hidden;
}

#copyright {
    visibility: hidden;
}

}

/*-------------------------------------------------media query min-width 600px*/
@media (min-width: 600px) {

/*--------------------------------------------background image on index.html*/
.backgroundimage {
    position: relative;
    bottom: 30px;
    height: 840px;
    width: 600px;
    opacity: 0.5;
}

/*--------------------------------------------dropdown menu*/    
.btn {
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    position: relative;
    height: 30px;
    width: 65px;
    left: 520px;
    bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.menuword {
    position: absolute;
    top: 3px;
    right: 9px;
}

.dropdown-item {
    background-color: #202020;
    color: #ffbe5b;
    text-transform: uppercase;
    height: 50px;
    font-size: 100%;
    font-weight: bold;
}

/*--------------------------------------------borders*/
.topborder {
    position: relative;
    top: 28px;
    width: 600px;
    border: #ffbe5b 1px solid;
}

/*--------------------------------------------headings*/
.header /*index.html*/{
    background-color: #202020;
    color: #ffbe5b;
    font-size: x-large;
    font-weight: 700;
    height: 30px;
    padding-left: 15px;
    padding-bottom: 25px;
    text-align: left;
    text-transform: uppercase;
}

.h1 {
    position: absolute;
    top: 5px;
    left: 35px;
    font-size: 145%;
}

.pageheader /*index.html*/{
    color: #fff;
    position: absolute;
    top: 60px;
    left: 55px;
    text-align: center;
    font-size: 170%;
    font-weight: 400;
    text-transform: uppercase;
}    

.pageheader br {
    display: none;
}

/*--------------------------------------------paragraphs*/    
.paragraph1 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 105px;   
    left: 80px;
    font-size: 140%;
    text-align: justify;
}

.paragraph2 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 200px;
    left: 80px;
    font-size: 140%;
    text-align: justify;
}   

.paragraph3 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 365px;   
    left: 80px;
    font-size: 140%;
    text-align: justify;
}

.paragraph4 /*index.html*/{ 
    color: #fff;
    position: absolute;
    top: 600px;   
    left: 80px;
    font-size: 140%;
    text-align: justify;
}

/*-------------------------------------------footer and footer border*/
.footer {
    background-color: #202020;
    color: #ffbe5b;
    position: absolute;
    top: 790px;
    height: 50px;
    width: 100%;
    padding-left: 8px;
    font-size: xx-large;
    text-align: left;
 }

#footerborder {
    border: #ffbe5b 1px solid;
    border-width: 2px;
    box-sizing: border-box;
    height: 50px;
    width: 600px;
} 

/*-------------------------------------------social media links*/

/*-------------------------------------------facebook*/
.facebookword {
    color: #ffbe5b;
    position: absolute;
    top: 8px;
    left: 5px;
    font-size: 75%;
    text-transform: uppercase;
    visibility: visible;
}

#facebook {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 11px;
    font-size: 135%; 
}

#facebook {
    visibility: hidden;
}

/*-------------------------------------------instagram*/
.instagramword {
    color: #ffbe5b;
    position: absolute;
    top: 8px;
    left: 133px;
    font-size: 75%;
    text-transform: uppercase;
    visibility: visible;
}

#instagram {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 80px;
    font-size: 135%;
}

#instagram {
    visibility: hidden;
}

/*-------------------------------------------youtube*/
.youtubeword {
    color: #ffbe5b;
    position: absolute;
    top: 8px;
    left: 275px;
    font-size: 75%;
    text-transform: uppercase;
    visibility: visible; 
}

#youtube {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 158px;
    font-size: 135%;
}

#youtube {
    visibility: hidden;
}

/*-------------------------------------------linkedin*/
.linkedinword {
    color: #ffbe5b;
    position: absolute;
    top: 8px;
    left: 385px;
    font-size: 75%;
    text-transform: uppercase;
    visibility: visible;
}

#linkedin {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 230px;
    font-size: 135%;
}

#linkedin {
    visibility: hidden;
}

/*-------------------------------------------twitter*/
.twitterword {
    color: #ffbe5b;
    position: absolute;
    top: 8px;
    left: 495px;
    font-size: 75%;
    text-transform: uppercase;
    visibility: visible;
}

#twitter {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 300px;
    font-size: 135%;
}

#twitter {
    visibility: hidden;
}

/*-------------------------------------------copyright*/
.copyrightword {
    visibility: hidden;
}

#copyright {
    visibility: hidden;
}

}

/*-------------------------------------------------media query min-width 768px*/
@media (min-width: 768px) {

/*--------------------------------------------background image on index.html*/
.backgroundimage {
    position: relative;
    bottom: 30px;
    height: 840px;
    width: 768px;
    opacity: 0.5;
}

    /*--------------------------------------------dropdown menu*/    
.btn {
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    position: relative;
    height: 30px;
    width: 65px;
    left: 690px;
    bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.menuword {
    position: absolute;
    top: 3px;
    right: 9px;
}

.dropdown-item {
    background-color: #202020;
    color: #ffbe5b;
    text-transform: uppercase;
    height: 50px;
    font-size: 100%;
    font-weight: bold;
}

/*--------------------------------------------button menu*/
.buttonmenu {
    display: none;
}

/*--------------------------------------------borders*/
.topborder {
    position: relative;
    top: 28px;
    width: 768px;
    border: #ffbe5b 1px solid;
}

/*--------------------------------------------headings*/
.header /*index.html*/{
    background-color: #202020;
    color: #ffbe5b;
    font-size: x-large;
    font-weight: 700;
    height: 30px;
    padding-left: 15px;
    padding-bottom: 25px;
    text-align: left;
    text-transform: uppercase;
}

.h1 {
    position: absolute;
    top: 5px;
    left: 30px;
    font-size: 145%;
}

.pageheader /*index.html*/{
    color: #fff;
    position: absolute;
    top: 70px;
    left: 140px;
    text-align: center;
    font-size: 190%;
    font-weight: 400;
    text-transform: uppercase;
}    

.pageheader br {
    display: none;
}
/*--------------------------------------------paragraphs*/    

.paragraph1 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 180px;   
    left: 30px;
    font-size: 125%;
    text-align: justify;
}

.paragraph1 br {
    display: none;
}

.paragraph2 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 300px;
    left: 1px;
    font-size: 128%;
    text-align: center;
}

.paragraph2 br {
    display: none;
}

.paragraph3 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 460px;   
    left: 1px;
    font-size: 125%;
    text-align: center;
}

.paragraph3 br {
    display: none;
}

.paragraph4 /*index.html*/{ 
    color: #fff;
    position: absolute;
    top: 640px;   
    left: 1px;
    font-size: 125%;
    text-align: center;
}

.paragraph4 br {
    display: none;
}
/*-------------------------------------------footer and footer border*/
.footer {
    background-color: #202020;
    color: #ffbe5b;
    position: absolute;
    top: 790px;
    height: 50px;
    width: 100%;
    padding-left: 8px;
    font-size: xx-large;
    text-align: left;
 }

#footerborder {
    border: #ffbe5b 1px solid;
    border-width: 2px;
    box-sizing: border-box;
    height: 50px;
    width: 768px;
} 

/*-------------------------------------------social media links*/

/*-------------------------------------------facebook*/
.facebookword {
    color: #ffbe5b;
    position: absolute;
    top: 6px;
    left: 5px;
    font-size: 78%;
    text-transform: uppercase;
    visibility: visible;
}

#facebook {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 11px;
    font-size: 135%; 
}

#facebook {
    visibility: hidden;
}

/*-------------------------------------------instagram*/
.instagramword {
    color: #ffbe5b;
    position: absolute;
    top: 6px;
    left: 136px;
    font-size: 78%;
    text-transform: uppercase;
    visibility: visible;
}

#instagram {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 80px;
    font-size: 135%;
}

#instagram {
    visibility: hidden;
}

/*-------------------------------------------youtube*/
.youtubeword {
    color: #ffbe5b;
    position: absolute;
    top: 6px;
    left: 284px;
    font-size: 78%;
    text-transform: uppercase;
    visibility: visible; 
}

#youtube {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 158px;
    font-size: 135%;
}

#youtube {
    visibility: hidden;
}

/*-------------------------------------------linkedin*/
.linkedinword {
    color: #ffbe5b;
    position: absolute;
    top: 6px;
    left: 400px;
    font-size: 78%;
    text-transform: uppercase;
    visibility: visible;
}

#linkedin {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 230px;
    font-size: 135%;
}

#linkedin {
    visibility: hidden;
}

/*-------------------------------------------twitter*/
.twitterword {
    color: #ffbe5b;
    position: absolute;
    top: 6px;
    left: 517px;
    font-size: 78%;
    text-transform: uppercase;
    visibility: visible;
}

#twitter {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 300px;
    font-size: 135%;
}

#twitter {
    visibility: hidden;
}

/*-------------------------------------------copyright*/
.copyrightword {
    color: #ffbe5b;
    position: absolute;
    top: 6px;
    left: 625px;
    font-size: 78%;
    text-transform: uppercase;
    visibility: visible;
}

#copyright {
    visibility: hidden;
}

}

/*-------------------------------------------------media query min-width 992px*/
@media (min-width: 992px) {

/*--------------------------------------------background image on index.html*/
.backgroundimage {
    position: relative;
    bottom: 30px;
    height: 840px;
    width: 992px;
    opacity: 0.5;
}

    /*--------------------------------------------dropdown menu*/    
.btn {
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    position: relative;
    height: 35px;
    width: 65px;
    left: 520px;
    bottom: 21px;   
    text-align: center;
    text-transform: uppercase;
}

.btn {
    visibility: hidden;
}

.menuword {
    position: relative;
    right: 4px;
}

.dropdown-item {
    background-color: #202020;
    color: #ffbe5b;
    text-transform: uppercase;
    height: 50px;
    font-size: 100%;
    font-weight: bold;
}

/*--------------------------------------------button menu*/
.buttonmenu {
    display: unset;
}

.homebutton {
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    position: absolute;
    height: 35px;
    width: 65px;
    left: 350px;
    bottom: 23px;
    text-align: center;
    text-transform: uppercase;
}

#homebutton {
    border-radius: 5px;
    position: absolute;
    top: 10px;
}

.bigthreebutton {
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    position: absolute;
    top: 10px;
    left: 425px;
    bottom: 23px;
    text-align: center;
    text-transform: uppercase;
}

#bigthreebutton {
    border-radius: 5px;
    height: 35px;
    width: 130px;
    white-space: nowrap;
}

.lesserknownbutton {
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    position: absolute;
    top: 10px;
    left: 565px;
    bottom: 23px;
    text-align: center;
    text-transform: uppercase;
}

#lesserknownbutton {
    border-radius: 5px;
    height: 35px;
    width: 180px;
    white-space: nowrap;
}

.historybutton {
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    position: absolute;
    top: 10px;
    left: 755px;
    bottom: 23px;
    font-size: 130%;
    text-align: center;
    text-transform: uppercase;
}

#historybutton {
    border-radius: 5px;
    height: 35px;
    width: 100px;
    white-space: nowrap;
}

.historyh5 {
    position: absolute;
    top: 3px;
    left: 10px;
    font-size: 90%;
}

.contactusbutton {
    background-color: #202020;
    border-color: #ffbe5b;
    color: #ffbe5b;
    position: absolute;
    top: 10px;
    left: 863px;
    bottom: 23px;
    text-align: center;
    text-transform: uppercase;
}

#contactusbutton {
    border-radius: 5px;
    height: 35px;
    width: 120px;
    white-space: nowrap;
} 

/*--------------------------------------------borders*/
.topborder {
    position: relative;
    top: 28px;
    width: 992px;
    border: #ffbe5b 1px solid;
}

/*--------------------------------------------headings*/
.header /*index.html*/{
    background-color: #202020;
    color: #ffbe5b;
    font-size: x-large;
    font-weight: 700;
    height: 30px;
    padding-left: 15px;
    padding-bottom: 25px;
    text-align: left;
    text-transform: uppercase;
}

.h1 {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 145%;
}

.pageheader /*index.html*/{
    color: #fff;
    position: absolute;
    top: 60px;
    left: 200px;
    font-size: 170%;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}    

.pageheader br {
    display: none;
}

/*--------------------------------------------paragraphs*/    
.paragraph1 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 105px;   
    left: 80px;
    font-size: 140%;
    text-align: justify;
}

.paragraph2 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 200px;
    left: 50px;
    font-size: 140%;
    text-align: center;
}   

.paragraph3 /*index.html*/{
    color: #fff;
    position: absolute;
    top: 365px;   
    left: 50px;
    font-size: 140%;
    text-align: center;
}

.paragraph4 /*index.html*/{ 
    color: #fff;
    position: absolute;
    top: 600px;   
    left: 50px;
    font-size: 140%;
    text-align: center;
}

/*-------------------------------------------footer and footer border*/
.footer {
    background-color: #202020;
    color: #ffbe5b;
    position: absolute;
    top: 790px;
    height: 50px;
    width: 100%;
    padding-left: 8px;
    font-size: xx-large;
    text-align: left;
 }

#footerborder {
    border: #ffbe5b 1px solid;
    border-width: 2px;
    box-sizing: border-box;
    height: 50px;
    width: 992px;
} 

/*-------------------------------------------social media links*/

/*-------------------------------------------facebook*/
.facebookword {
    color: #ffbe5b;
    position: absolute;
    top: 8px;
    left: 60px;
    font-size: 75%;
    text-transform: uppercase;
    visibility: visible;
}

#facebook {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 11px;
    font-size: 135%; 
}

#facebook {
    visibility: visible;
}

/*-------------------------------------------instagram*/
.instagramword {
    color: #ffbe5b;
    position: absolute;
    top: 8px;
    left: 270px;
    font-size: 75%;
    text-transform: uppercase;
    visibility: visible;
}

#instagram {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 220px;
    font-size: 135%;
}

#instagram {
    visibility: visible;
}

/*-------------------------------------------youtube*/
.youtubeword {
    color: #ffbe5b;
    position: absolute;
    top: 8px;
    left: 490px;
    font-size: 75%;
    text-transform: uppercase;
    visibility: visible; 
}

#youtube {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 440px;
    font-size: 135%;
}

#youtube {
    visibility: visible;
}

/*-------------------------------------------linkedin*/
.linkedinword {
    color: #ffbe5b;
    position: absolute;
    top: 8px;
    left: 690px;
    font-size: 75%;
    text-transform: uppercase;
    visibility: visible;
}

#linkedin {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 640px;
    font-size: 135%;
}

#linkedin {
    visibility: visible;
}

/*-------------------------------------------twitter*/
.twitterword {
    color: #ffbe5b;
    position: absolute;
    top: 8px;
    left: 880px;
    font-size: 75%;
    text-transform: uppercase;
    visibility: visible;
}

#twitter {
    color: #ffbe5b;
    position: absolute;
    top: 2px;
    left: 830px;
    font-size: 135%;
}

#twitter {
    visibility: visible;
}

/*-------------------------------------------copyright*/
.copyrightword {
    visibility: hidden;
}

#copyright {
    visibility: hidden;
}

}

/*-------------------------------------------------media query min-width 1200px*/
@media (min-width: 1200px) {

}